<h1> artists </h1>
<br>
<div>
  <% @artists.each do |a| %>
    <div class="col-md-4">
      <img src="<%= a.artist_image_path%>">
      <br>
      <%= link_to a.artist_name, artist_path(a) %>
      <br>
    </div>
  <% end %>
</div>
<%= link_to 'Create an artist', new_artist_path %>